/* ================================================ 메인 틀 ================================================ */
.approval-main {
    width: 100%;
}

/* ================================================ 문서 상세 ================================================ */
.app-button-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 30px auto 0;
}

button.app-button {
    margin-left: 20px;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px #6f6f6f;
    background: #ffffff;
    font-weight: bold;
}

button.app-blue-button {
    border: solid 1px #5549DD;
    color: #5549DD;
}

.line-div {
    height: 1px;
    color: #aeaeae;
    width: 100%;
    border-bottom: solid 1px;
    margin: 20px 0;
}

.back-to-list {
    display: flex;
    align-items: center;
}

.approval-doc-form-outline {
    border: solid 1px #d9d9d9;
    width: 80%;
    margin: 30px auto;
}

.approval-header {
    display: flex;
    padding: 10px;
    margin: 10px 0;
}

.approval-body {
    text-align: center;
    width: 80%;
    margin: 30px auto -10px;
}

.approval-form-name{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approver-list{
    display: flex;
}

button.choose-approver{
    height: fit-content;
    margin: 90px 10px 0px;
    padding: 0px 3px;
}

.approver-info{
    border-top: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
}

.approver{
    border: solid 1px;
}

.approve-box {
    border-bottom: solid 1px;
    border-top: solid 1px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draftInfo, .app-form-content {
    border: solid 1px;
    width: 100%;
    border-collapse: collapse;
}

.draftInfo tr, .draftInfo td, .app-form-content tr, .app-form-content td {
    border: solid 1px;
    padding: 10px;
}

input.approval-title {
    height: 25px;
    width: 95%;
    padding: 5px;
    margin: auto;
}

.businessDraftContent {
    width: 90%;
    height: 250px;
}

.approval-file-div {
    width: 80%;
    margin: 10px auto 20px auto;
}

.approval-file{
    border: dashed 1px #aeaeae;
    margin: 10px 0;
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.approval-attach-img, img.back-img {
    width: 17px;
    margin: 5px;
}

table.ER-detail-table {
    width: 230%;
    border-collapse: collapse;
    border-top: hidden;
    border-right: hidden;
    border-bottom: hidden;
}

.total-expenditure {
    margin: auto;
    width: 50%;
    height: 25px;
    padding: 5px;
    margin-left: 5px;
}
/* ================================================ 사이드 바 ================================================ */
img.approval-nav-img {
    width: 30px;
    margin: 5px;
}

/* ================================================ 목록 조회 ================================================ */
.approval-div {
    width: 100%;
}

.approval-title {
    margin: 30px 50px;
}

ul.tab-nav {
    display: flex;
    list-style-type: none;
    padding-top: 30px;
}

.approval-tool-bar {
    padding-left: 40px;
}

.tab-nav li {
    padding: 5px;
    margin: 0 10px;
}

.tab-item{
    text-decoration: none;
}

.active li.AP {
    border-bottom: solid 2px;
    color: #000000;
}

.active span.tab-text {
    color: #000000;
    font-weight: bolder;
}

.tab-text {
    color: #868686;
}