/* ================================================ 메인 틀 ================================================ */
.approval-main {
    width: 100%;
}
/* ================================================ 상신 모달 ================================================ */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: auto;
}


.app-modal-container{
    position: fixed;
    width: 600px;
    height: 500px;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    z-index: 1000;
}

.form-modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin: 15px;
}

.form-modal-body, .app-modal-body {
    display: flex;
    justify-content: space-around;
}

.form-type {
    width: 35%;
    height: 100px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.shorter-line-div {
    height: 1px;
    color: #aeaeae;
    width: 80%;
    border-bottom: solid 1px;
    margin: 5px auto;
}

/* ================================================ 결재 의견 모달 ================================================ */
.approve-modal-container{
    position: absolute;
    width: 600px;
    height: 500px;
    padding: 20px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    z-index: 1000;
}

.approve-modal-title {
    text-align: left;
    margin: 50px;
}

.approve-modal-body{
    margin: 0 auto 60px 20px;
}

.approve-title-div, .approve-opinion-div {
    display: flex;
    margin: 20px 0;
    padding: 0 20px;
}

.view-title {
    margin-left: 30px;
}

.approve-right {
    text-align: left;
}

input.approvalOpinion {
    margin-left: 40px;
    width: 70%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}

.modal-button {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

button.approve-button {
    margin-left: 10px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: #ffffff;
}

span.approve-left {
    font-weight: bolder;
}

/* ================================================ 문서 상세 ================================================ */
.app-button-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 30px auto 0;
}

button.app-button {
    margin-left: 20px;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: solid 1px #6f6f6f;
    background: #ffffff;
    font-weight: bold;
}

button.app-blue-btn {
    border: solid 1px #5549DD;
    color: #5549DD;
}

.line-div {
    height: 1px;
    color: #aeaeae;
    width: 100%;
    border-bottom: solid 1px;
    margin: 20px 0;
}

.back-to-list {
    display: flex;
    align-items: center;
}

.approval-doc-form-outline {
    border: solid 1px #d9d9d9;
    width: 80%;
    margin: 30px auto;
}

.approval-header {
    display: flex;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    justify-content: space-between;

}

.app.modal-body {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.app-modal-left, .app-modal-right {
    width: 45%;
}

.app-emply-list, .choosen-approver {
    border: solid 1px #6f6f6f;
    width: 90%;
    height: 400px;
    margin: 10px auto;
}

.app-emply-list {
    overflow: auto;
}

.choosen-approver {
    height: 350px;
}

.app-employee {
    border: solid 1px #6f6f6f;
    margin: 15px auto;
    border-radius: 5px;
    width: 70%;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.app-button-div {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}

button.app-cancel, button.app-use, button.app-delete, button.choose-approver {
    width: 55px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    background: #ffffff;
}

button.app-use {
    color: #5549DD;
    font-weight: bold;
    border: solid 2px #5549DD;
}

.approval-body {
    text-align: center;
    width: 80%;
    margin: 30px auto -10px;
}

.approval-form-name{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approver-list{
    display: flex;
}

button.choose-approver{
    height: fit-content;
    margin: 110px 10px 0px;
    padding: 0px 3px;
    border: solid 2px #5549DD;
    color: #5549DD;
}

.choosen-emp-btn-div{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.approver-info{
    border-top: solid 1px;
    border-left: solid 1px;
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
}

.approver{
    text-align: center;
    border: solid 1px;
    width: 80px;
}

.approve-box {
    border-bottom: solid 1px;
    border-top: solid 1px;
    height: 90px;
}

.approval-status {
    margin: auto;
    height: 55px;

}

.approval-date {
    height: 20px;
}

img.approval-status-img {
    margin: 10px auto;
    height: 45px;
    width: 45px;
}

.draftInfo, .app-form-content {
    border: solid 1px;
    width: 100%;
    border-collapse: collapse;
}

.draftInfo tr, .draftInfo td, .app-form-content tr, .app-form-content td {
    border: solid 1px;
    padding: 10px;
}
td.app-table-info, th.app-table-info{
    background-color: #F1F0F6
}

input.approval-title {
    height: 25px;
    width: 95%;
    padding: 5px;
    margin: auto;
}

.businessDraftContent {
    width: 90%;
    height: 250px;
    padding: 5px;
}

/* 결재 의견 댓글 */
.approver-img {
    display: flex;
    align-items: center;
}

.opinion-profile-img {
    width: 30px;
    border-radius: 50%;
}

/* 지출 결의서 */
input.ERdetail-input {
    padding: 5px;
}

button.add-row {
    margin: 8px 0;
    width: 45px;
}

button.delet-row {
    width: 45px;
}

/* 첨부파일 */
.approval-file-div {
    width: 80%;
    margin: 10px auto 20px auto;
}

.approval-file{
    border: dashed 1px #aeaeae;
    margin: 10px 0;
    padding: 5px;
}

.approval-file-add {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.app-file-name {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

img.cancel-attach {
    width: 10px;
    margin: 5px;
}

img.approval-attach-img, img.back-img, img.close-modal-img, img.app-file-down-img {
    width: 17px;
    margin: 5px;
}

.file-view-div {
    border-top: solid 1px #868686;
    margin: 10px;
    padding: 10px;
}

table.ER-detail-table {
    width: 100%;
    border-collapse: collapse;
    border-top: hidden;
    border-right: hidden;
    border-bottom: hidden;
}

.total-expenditure {
    margin: auto;
    width: 50%;
    height: 25px;
    padding: 5px;
    margin-left: 5px;
}

.app-opinion-div {
    display: flex;
    border-radius: 6px;
    border: solid 1px;
    margin: 20px auto;
    justify-content: space-around;
    width: 80%;
    height: 40px;
    align-items: center;
}

.app-attach-a {
    text-decoration: none;
    color: black;
}
/* ================================================ 사이드 바 ================================================ */
img.approval-nav-img {
    width: 30px;
    margin: 5px;
}

/* ================================================ 목록 조회 ================================================ */
.approval-div {
    width: 100%;
}

.approval-title {
    margin: 30px 50px;
}

.approval-list-table {
    width: 90%;
    margin: auto;
}

ul.tab-nav {
    display: flex;
    list-style-type: none;
    padding-top: 30px;
}

.approval-tool-bar {
    padding-left: 90px;
}

.tab-nav li {
    padding: 5px;
    margin: 0 10px;
}

.tab-item{
    text-decoration: none;
}

.active li.AP {
    border-bottom: solid 2px;
    color: #000000;
}

.active span.tab-text {
    color: #000000;
    font-weight: bolder;
}

.tab-text {
    color: #868686;
}

.docStatus-div {
    border-radius: 5px;
    width: 60px;
    margin: auto;
    paddding: 1px 4px;
    color: #ffffff;
    font-size: 14px;
}

.docStatus-collect {
    background-color: #E0EC98;
}

.docStatus-tempStorage {
    background-color: #F6B3B3;
}

.no-app-info {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================================================ 홈 ================================================ */
.in-progress-box-list-div {
    height: 300px;
    display: flex;
}

.in-progress-approval-div {
    border: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 260px;
    height: 250px;
    margin: 30px;
    border-radius: 10px;
    padding: 20px;
}

.IP-docStatus {
    margin-left: -5px;
    margin-bottom: 5px;
    text-align: center;
}

.IP-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.IP-drafter, .IP-draftTime, .IP-docForm {
    color: #737272;
    margin: 3px;
    font-size: 18px;
}

.IP-approve {
    font-size: 20px;
    font-weight: bold;
    color: #5549DD;
    text-align: center;
    margin: 25px 70px;
}

@-webkit-keyframes bob-on-hover {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes bob-on-hover {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@-webkit-keyframes bob-on-hover-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
@keyframes bob-on-hover-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}
.bob-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bob-on-hover:hover, .bob-on-hover:focus, .bob-on-hover:active {
    -webkit-animation-name: bob-on-hover-float, bob-on-hover;
    animation-name: bob-on-hover-float, bob-on-hover;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}
