
.employeeRegistration-layout-div {
    display: flex;
    height: 100vh;
}

.employeeRegistration-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.employeeRegistration-title{
    margin: 50px;
}

.employeeRegistration-type{
    margin: 20px;
    padding-left: 30px;
}

.employee-table{
    border: 1px;
    width: 100%;
    height: 10%;
    border-collapse: collapse;
    margin: 0 auto;
}
.employee-table th{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

.employee-table td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.employeeRegistration-name-Image{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#special-span {
    padding-left: 20px;
}

.employeeRegistration-Select{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.employeeRegistration-Select-box{
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border-color: #dddddd;
        color: #868686;
}

.employeeRegistration-input-box{
    width: 150px;
    height: 30px;
    border: 1px solid #dddddd;
    color: #868686;
    border-radius: 5px;
}

.employeeRegistration-input-box:focus,.employeeRegistration-Select-box:focus {
    outline-color: #dddddd;
}

.employeeRegistration-input {
    margin-left: 10px;
}

.employeeRegistration-input-btn{
    display: flex;
    width:  80px;
    height: 30px;
    border-radius: 7px;
    color: white;
    background-color: #5549DD;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    border: none;
}

/* 네비바 css */
.employeeRegistration-navbar-div {
    width: 400px;
    border-right: 1px solid darkgrey;
}
.employeeRegistration-navbar-ul {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    list-style:none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-title{
    padding-left: 50px;
    padding-right: 70px;
}

.main-icon{
    padding-right: 20px;
}

.employeeRegistration-navbar-ul li {
    width: 100%;
    padding-left: 75px;
    height: auto;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
}
.employeeRegistration-navbar-ul a:hover{
    cursor: pointer;
    color: blue;
    border-radius: 50px;
}
.employeeRegistration-navbar-ul li:active {
    color: blue;
}

.employeeRegistration-navbar-ul a {
    text-decoration: none;
    color: black;
}

.employeeRegistration-btn {
    margin: 30px;
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6F6F6F; /* 테두리 색상은 여러분이 원하는 색상으로 변경할 수 있습니다. */
    border-radius: 10px; /* 테두리 모서리의 둥글기를 조절할 수 있습니다. */
    transition: 0.5s;
    cursor: pointer;
    color: black;
}
