*{
    margin: 0;
    box-sizing: border-box;
}
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}
.cover {
    background-color: white;
    width: 30%;
    height: 50%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    border: none;
    background-color: rgb(229, 226, 226);
    width: 70%;
    height: 10px;
    border-radius: 0.25em;
    text-align: left;
    padding: 2em;
    font-size: 1em;
}

input:focus {
    outline-color: #5549DD;
}

.login-btn {
    width: 50%;
    height: 3em;
    background-color: #5549DD;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    color: white;
}

.login-btn:hover { transform: scale(1.25);}

.password-btn {
    width: 50%;
    height: 3em;
    cursor: pointer;
    color: darkgrey;
}

.password-btn:hover { color: #5549DD }

.main-Image {
    width: 65px;
    height: 65px;
}