* {
    margin: 0;
    padding: 0;
}
.myPage-background-div {
    display: block; /* 세로로 배치되도록 함 */
    height: 100vh; /* 화면 높이를 100%로 채우도록 설정 */
    margin: 0 80px; /* 좌우 여백을 주는 부분 */
}

.myPage-div-h1 {
    width: auto;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
}

.myPage-employee-information{
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse; /* 테두리를 겹치게 함 */
    text-align: center; /* 텍스트를 왼쪽 정렬 */
}

.myPage-employee-information tr {
    border: 1px solid #ddd; /* 1픽셀 두께의 회색 테두리 추가 */
    padding: 8px; /* 셀 안의 내용과 테두리 사이의 간격 조정 */
}

.myPage-employee-information th {
    width: 200px;
    height: 200px;
}

.myPage-employee-information td{
    border: 1px solid #ddd; /* 1픽셀 두께의 회색 테두리 추가 */
    width: 200px;
    height: 50px;
}

.myPage-div-line {
    border-Bottom: 1px solid #ddd;
    line-Height: 0.1em;
    margin: 30px 0 40px;
}

.myPage-div-h3 {
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 50px;
}

.myPage-password-btn {
    width: 10%;
    height: 3em;
    background-color: #5549DD;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin: auto;
    margin-top: 50px;
}