 /* sales  css----------------------------------------------------------------- */
 .sales-div{
    margin-top: 20px;
}

 .sales-table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     overflow: hidden;
 }

 .sales-table th, .sales-table td {
     padding: 15px;
     text-align: center;
     border-bottom: 1px solid #ddd;
 }

 .sales-table th {
     background-color: #f5f5f5;
 }

 .sales-table tr:hover {
     background-color: #f9f9f9;
 }


 /* 영업 검색 CSS ----------------------------------------------------------------------- */
 .search-div {
     display: flex;
     justify-content: flex-end;
     margin-top: 20px;
 }

 /* 검색 조건 select */
 .search-div select {
     margin-right: 10px;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 14px;
     flex-shrink: 1;
     flex-basis: auto;
     box-sizing: border-box;
     width: 120px;
 }

 /* 검색어 입력 input */
 .search-div input {
     margin-right: 10px;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 5px;
     font-size: 14px;
     flex-shrink: 1;
     flex-basis: auto;
     box-sizing: border-box;
     width: 200px;
     height: 48px;
 }

 /* 검색 버튼 button */
 .search-div button {
     padding: 12px;
     border: none;
     border-radius: 5px;
     font-size: 14px;
     background-color: #3498db;
     color: #fff;
     cursor: pointer;
     transition: background-color 0.3s;
 }

 .search-div button:hover {
     background-color: #2d87cb;
 }


/* mypage ----------------------------------------------------------------------- */
.mypage-main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.mypage-layout-div {
    display: flex;
    height: 100vh;
}

/* mypage navbar */
.mypage-navbar-div {
    min-width: 200px;
    border-right: 1px solid black;
}

.mypage-navbar-ul {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    list-style:none;
    padding-left:0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mypage-navbar-ul li {
    width: 100%;
    padding-left: 20px;
    height: auto;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mypage-navbar-ul a {
    text-decoration: none;
    color: black;
}

/* paging bar ------------------------------------------------------------------------ */

.paging-ul {
    display: flex;
    list-style-type : none;
    margin-bottom: 30px;
}

.paging-btn{
    margin: 5px;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
}

.paging-btn:hover{
    cursor: pointer;
    background-color: burlywood;
}